#app {
  display: inline-block;
}

.sideArrow {
  border: 1px solid #d8d9db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideArrow:hover {
  border: 2px solid #da3743;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.fadeBtn:hover {
  border: 1px solid #d8d9db;
  width: 30px;
  height: 30px;
  cursor: default;
}

.calendarBox {
  height: 32px;
  display: table-cell;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d8d9db;
  color: #d8d9db;
  width: 34px;
  font-size: 90%;
}

.thisMonth {
  background-color: white;
}

.future {
  font-size: 700;
  color: black;
}

.future:hover,
.defaultDate {
  outline-style: solid;
  outline-color: #da3743;
  cursor: pointer;
}
